*{margin:0; padding: 0;}

header{
	background-image: url('hs.jpeg');

	height:100vh;
	background-size:cover;
	background-position: center; 
}
.him{
	padding-left: 90px;
	padding-top: 40px;
	color: white;
	text-shadow: 1px 2px red;
font-family: 'Fredericka the Great', cursive;
animation: aagepiche 2s linear infinite;
	animation-direction: alternate;
}
@keyframes aagepiche{
	from{padding-left: 60px;}
	to{padding-right: 10px;}
}
.him:hover{
	
	color:#808080;
	}
.hit{
	padding-left: 60px;
	padding-top: 110px;
	font-family: 'Metal Mania', cursive;
	text-shadow: 1px 2px red;
	color:white;
	}
.hit:hover{
		color:#808080;
}
.sim{
	padding-left: 125px;
	padding-top: 5px;
	font-family: 'Metal Mania', cursive;
	text-shadow: 1px 2px red;
	color:white;
}
.sim:hover{
	color:#808080;
}
.sus{
	text-decoration: none;
	color: white;
	border:2px dotted white;
	border-radius: 5px;
	border-color: red;
	background-color: black;
	font-family: 'Metal Mania', cursive;

	}
	.sus:hover{
	color:#808080;
}
.botton{
	
	display: inline;
	display: flex;
	width: 30%;
	padding-left: 300px;
	padding-top: 60px;
	border-spacing: 100px;
	justify-content: space-around;
}
.botton1{
	display: inline;
	display: flex;
	width: 30%;
	padding-left: 300px;
	padding-top: 60px;
	border-spacing: 100px;
	justify-content: space-around;
}
.botton2{
	display: inline;
	display: flex;
	width: 30%;
	padding-left: 320px;
	padding-top: 60px;
	border-spacing: 100px;
	justify-content: space-around;
}
.botton3{
	display: inline;
	display: flex;
	width: 30%;
	padding-left: 320px;
	padding-top: 60px;
	border-spacing: 100px;
	justify-content: space-around;
}
.vid{
	text-decoration: none;
	color: white;
	border:2px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: black;
	border-color: red;
}
.vid:hover{
	color:#808080;
}
.san{
	text-decoration: none;
	color: white;
	border:2px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: black;
	border-color: red;
}
.san:hover{
	color:#808080;
}
.gov{
	text-decoration: none;
	color: white;
	border:2px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: black;
	border-color: red;
}
.gov:hover{
	color:#808080;
}
.ani{
	text-decoration: none;
	color: white;
	border:2px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: black;
	border-color: red;
}
.ani:hover{
	color:#808080;
}
.shu{
	text-decoration: none;
	color: white;
	border:2px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: black;
	border-color: red;
}
.shu:hover{
	color:#808080;
}
.hittu{
	text-decoration: none;
	color: black;
	border:1px solid white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.hittu:hover{
	background-color:red;
}

.navee{
	text-decoration: none;
	color: black;
	border:1px solid white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.navee:hover{
	background-color:red;
}
.lol{
	width: 30%;
	padding-left: 850px;
	padding-top: 40px;
	color: white;
	text-shadow: 1px 2px red;
	font-family: 'Dancing Script', cursive;
}
.lol:hover{
	color:yellow;
}
.polo{
	width: 30%;
	padding-left: 810px;
	padding-top: 5px;
	color: white;
	text-shadow: 1px 2px red;
	font-family: 'Dancing Script', cursive;
}
.polo:hover{
	color:yellow;
}